@import "tailwindcss";

.container {
  max-width: 1220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 450px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card__body {
  background: radial-gradient(
    50.89% 100% at 50.13% 100%,
    #000000 0%,
    rgba(0, 0, 0, 0.6) 49.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

@theme {
  --color-pyc: #c61f1f;
  --color-sc: #a1a1a1;
  --color-gbg: #1d1d1d;
  --color-lgbg: #e2e2e2;
}

@custom-variant dark (&:where(.dark, .dark *));

footer > div > div svg {
  color: #c61f1f;
  font-size: 24px;
}
